@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 63%;
}

:root {
    --black-color: #131313;
    --primary-color: #ff77B0;
    --secondary-color: #7854f7;
    --white-color:#fff;
    --ash-color: #CDCDCD;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black-color);
}

a{
    font:400 1.6rem 'Poppins', sans-serif;
    color: var(--white-color);
    text-decoration: none;
}

a:hover{
    color: var(--primary-color) !important;
    transition: ease-in-out .5s;
}

span{
    font-size: 1.4rem;
}

h1,h2,h3, p{
    line-height: 1.5;
}

h1,h2,h3{
    font-weight: bold;
}

h1, .h1{
    font-size: 3.6rem;
}
h2, .h2{
    font-size: 2.4rem;
}
h3, .h3{
    font-size: 1.8rem;
}
p{
    font-size: 1.4rem;
}
img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

section{
    padding: 80px 0;
}
/* =============== Utilities  =============== */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row > *{
    gap: 10px;
}

.col-2{
    flex-basis: 20%;
}
.col-3{
    flex-basis: calc(100%/4);
}

.col-4{
    flex-basis: calc(100%/3);
}

.col-5{
    flex-basis: 45%;
}

.col-6{
    flex-basis: calc(100%/2);
}

.col-7{
    flex-basis: 60%;
}

.col-8{
    flex-basis: 70%;
}

.col-9{
    flex-basis: 80%;
}

.col-10{
    flex-basis: 100%;
}
.nav{
    display: flex;
}

/* Custom Buttons*/
.btn{
    padding: 2% 5%;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
}

.btn> i{
    margin-left: 15px;
    font-size: 13px;
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-primary:hover{
    color: var(--white-color);
    background: transparent;
    border: 2px solid var(--primary-color);
    transition: all .5s;
}
/*  Social links  */
.social{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid white;
    width: 180px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.section-title h2{
    font-size: 30px;
}
.section-title p{
    max-width: 600px;
    color: var(--ash-color);
}
.social a{
    padding-left: 10px;
}

.social .icons a:hover i{
    color: var(--primary-color);
}

.social i{
    font-size: 14px;
}

/* =============== Header ===============*/
.main-header{
    height: 100vh;
    padding: 15px 0;
    background:linear-gradient(151deg, rgba(120, 84, 247,.7 ), rgba(255,119, 176, .7)), url(../img/hero-img.jpg) no-repeat center center/cover;
    overflow: hidden;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.navbar .logo span{
    font-size: 2rem;
    font-weight: bold;
}
.navbar  .logo i{
    font-size: 1.4rem;
}

.navbar .nav{
    list-style: none;
    display: flex;
}

.navbar .nav li{
    margin-left: 1.5rem;
}

.navbar .nav  a{
    padding: 5px;
}

.navbar .nav  a > i{
    font-size: 1.6rem;
}

.navbar .nav .rounded-border{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px 10px;
    text-align: center;
}

.header-content{
    width: 100%;
    position: relative;
    top: 50px;
    color: #fff;
    /* margin-bottom: 100px; */
}

.header-content h1{
    line-height: 1.45;
    font-size: 4.2rem;
    text-transform: uppercase;
}
.header-content p{
    text-transform: capitalize;
    margin-bottom: 50px;
    font-size: 1.4rem;
}

.header-content .header-img{
    max-width: 654px;
   margin-right:-200px ;
}

.main-header .social{
    position: relative;
    bottom: -100px;
}
/*  */


/* =============== Showcase =============== */
.showcase{
    background: white;
    color: var(--black-color);
    overflow: hidden;
    position: relative;
}
.showcase .nav{
    justify-content: center;
    align-items:  center;
    margin-bottom: 30px;
}
.showcase li{
    margin-left: 2.5rem;
}
.showcase a{
    color: var(--ash-color);
}

.showcase li.active a{
    padding-bottom: 8px;
    border-bottom: 3px solid var(--ash-color);
    color: var(--black-color);
}
.showcase li:hover.active a, .showcase li:hover a{
    border-bottom: 3px solid var(--primary-color);
   transition: ease-in-out .5s;
   padding-bottom: 8px;
}

.pagination button{
    border: none;
    background: transparent;
    color: var(--ash-color);
    cursor: pointer;
}

.pagination span > i, .pagination button > i{
    font-size: 15px;
}
.pagination span > i, .pagination button:hover{
    color: var(--primary-color);
    transition: all .5s;
}
.showcase .showcase-img{
    max-width: 585px;
    margin-right: 30px;
}
.showcase .one{
    margin-left: -250px;
}
.showcase .four{
    margin-right: -250px;
}
/* =============== Footer =============== */
.footer{
    padding: 20px 0;
    border-top: 2px solid #ccc;
    position: relative;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact .social, .contact li{
    margin-right: 1.5rem;
}

.contact li:last-child{
    margin: 0;
}

.contact li a span{
    font-size: 1.2rem;
}

.contact li a i{
    font-size: 1.3rem;
    color: var(--primary-color);
}

.copyright p{
    font-size: 1.1rem;
    color: var(--white-color);
}